# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/  
python-env/**/
.angular/

# Python cache files
*.pyc
__pycache__/

# Angular build outputs
dist/          
.angular/    
.angular-cache/

# Hugging Face and dataset files
fine_tuned_model/     
tokenized_dataset/     

# Environment and secret files
.env           

# Debug and temp files
*.temp
*.cache
debug.log

# IDE-specific files
.vscode/        
.idea/         

# macOS system files
**/.DS_Store
.AppleDouble
.LSOverride

# Optional backup files
*.bak
*.swp
*.tmp

# Large files (if git-lfs is not used)
*.ckpt
*.bin
*.zip